.homeItemContent, .homeItemIcon, .homeItemIcon, .homeItemText {
    text-align:center;
}
.homeItemTitle, .homeItemText {
    font-family:Avenir, Helvetica, Arial, sans-serif;
}
.homeItemContent{
    flex:1;
    padding:2.5rem;
}
.homeItemIcon{
    width: 100px;
    border: 10px solid #00bc77;
    border-radius: 50%;
    padding: 1rem;
}
.deleteItem{
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; 
}
.homeItemTitle{
    color:#222222;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: .5rem;
}
.homeItemText{
    color: #2c3e50;
}