.signInContainer, .homePageContent {
    display: flex;
}
.signInContainer{
    color: #2c3e50;
    font-weight: bold;
    align-items: center;
    text-decoration: none;
    column-gap: 8px;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}
.signInContainer:hover {
    text-decoration: underline;
}
.homePageContent{
    flex-direction: column;
    text-align: center;
}
.deleteItem{
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; 
}
@media (min-width:920px) {
    .homePageContent{
        flex-direction: row;
    }
}
